	 / ____|                                       
	 | |     ___  _ __ ___  _ __   __ _ _ __  _   _ 
	 | |    / _ \| '_ ` _ \| '_ \ / _` | '_ \| | | |
	 | |___| (_) | | | | | | |_) | (_| | | | | |_| |
	  \_____\___/|_| |_| |_| .__/ \__,_|_| |_|\__, |
	                       | |                 __/ |
	                       |_|                |___/ 

  server: {{ inventory_hostname }}

  ------------------------------------------------------------------------------
  *                                 WARNING                                    *
  * You are accessing a secured system and your actions will be logged along   *
  * with identifying information. Disconnect immediately if you are not an     *
  * authorized user of this system.                                            *
  ------------------------------------------------------------------------------
